<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}
  </h1>
</div>
<h2>Example 1: From string get first five charts and add three dots</h2>
<pre>{{ exampleOne | firstElementStringPlusDots }}</pre>
<br />
<h2>Example 2: From string array find number of occurence of each letter in each element</h2>
<div *ngFor="let element of exampleTwo | numberUniqueLettersInString; index as i">
  <pre>{{element | json}}</pre>
</div>
<br />
<h2>Example 3: filters the list of element into an array following some criteria</h2>
<div *ngFor="let element of exampleThree | filterArrayElements">
  <pre>{{element.name}}</pre>
</div>
